{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Github Issues Tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<link href="{% static 'fonts/Raleway.css' }" rel="stylesheet" type="text/css">#}
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  </head>
  <body>
    <div class="container">
      <section class="header">
        <h2 class="title" style="margin: 2%">Github Open Issues tracking page</h2>
        <div class="row" style="margin: 1%">
          <p>To display summary of open issues, enter the <strong>github.com</strong> repository link in the field below and hit enter</p>
        </div>
      </section>
      <div class="row" style="margin-top: 1%">
        <div class="six columns">
          <form method="post" action="">
            <label for="url">Enter link here</label>
            <input class="u-full-width" placeholder="https://github.com/Shippable/support" type="url" name="url">
            <input type="submit" value="Enter">
          </form>
        </div>
      </div>
      {% if error %}
      <div class="row">
        <h5>{{ message }}</h5>
      </div>
      {% endif %}

      {% if post %}
      <div class="row">
        <div class="one-half column" style="margin-top: 1%">
          <h4>Open Issues</h4>
        </div>
        <div class="two column">
          <table class="u-full-width">
            <thead>
              <tr>
                <th>Description</th>
                <th>Open Issues</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Total number of open issues</td>
                <td>{{ open_issues}}</td>
              </tr>
              <tr>
                <td>Number of open issues that were opened in the last 24 hours:</td>
                <td>{{ last_24_hrs }}</td>
              </tr>
              <tr>
                <td> Number of open issues that were opened more than 24 hours ago but less than 7 days ago </td>
                <td>{{ btw_24_and_7}}</td>
              </tr>
              <tr>
                <td>Number of open issues that were opened more than 7 days ago</td>
                <td>{{ more_than_7 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
  </body>

</html>
